@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

nav {
  margin: -30px 0 0 0;
  padding: 0;
  background-color: #3c3836;
  overflow: hidden;
}

nav a {
  float: left;
  color: #ebdbb2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #689d6a;
  color: #504945;
}

nav a.active {
  background-color: #98971a;
}

html {
  padding-bottom: 100px;
  padding-bottom-color: #458588;
  font-family: sans-serif;
  font-family-background-color: #282828;
}

body {
  background-color: #282828;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: none;
}

/* Blog entry: */
.entry {
  padding: 10px;
  border-radius: 0 10px 30px 0;
  margin-bottom: 20px;
  background-color: #2a2a35;
  border-left: 10px solid #5982c1;
}

a {
  color: #97bef9;
  text-decoration: none;
}

a:hover {
  color: #5983c1;
}

/* The two panels on the main page: */
.mainpanel {
  float: left;
  max-width: 700px;
  padding: 4px;
  padding-right: 30px;
}

.mainpanel li {
  line-height: 20px;
}

.sidepanel {
  float: left;
  max-width: 300px;
  background-color: #292934;
  padding: 2px;
  border-radius: 0 10px 30px 0;
}

.sidepanel a {
  color: #85631b;
}

.sidepanel a:hover {
  color: #d89e23;
}

.sidepanel ul li {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.sidepanel ul li ul li {
  font-size: 18px;
  margin: 0px;
  list-style: none;
}

a:hover img {
  background: #fe8019;
}

.entry h2 {
  margin: 5px auto 2px auto;
}

footer strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

dt img {
  height: 1em;
}

/* Class name of video thumbnails in videos.html */
code {
  color: #C3E88D;
  color-overflow-x: auto;
  /* background: #1d2021 */
}

pre {
  background: #32374D;
  border: 1px solid #444267;
  border-radius: 4px;
  padding: 5px;
  display: block;
  /* background: #1d2021 */
}

.indexcolname {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.indexcoldesc {
  font-weight: bold;
  padding: 10px;
  font-size: large;
}

.indexcollastmod, .indexcolsize {
  font-size: small;
}

#indexlist {
  margin: 0px auto;
}

.centerpiece {
  align: center;
  margin: 0px auto;
}

/* Used in library.html */
.booklist dt {
  display: list-item;
  list-style-type: square;
  font-weight: normal;
}

.booklist dd {
  display: none;
}

.booklist:hover dd {
  display: block;
}

/* The mic class is for books featured in a NotRelated episode. */
.mic:before {
  content: "ðŸŽ™ï¸";
}

.mic {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
  margin-left: 0;
  padding-left: 0;
}

.mic h1 {
  color: #50505f;
  font-weight: normal;
}

.mic h2 {
  color: #bb841a;
  font-weight: normal;
}

.imgcont {
  text-align: center;
  text-align-position: relative;
}

.imgconttext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: xx-large;
  color: black;
}

.hiddiv {
  display: none;
}

.qr:hover {
  color: goldenrod;
}

.qr:hover .hiddiv {
  display: block;
  float: right;
}

.hiddiv img {
  height: 200px;
}
/*# sourceMappingURL=index.css.map */