//	 ____ ____ ____	____				_
//	/ ___/ ___/ ___|	|	_ \ ___	___	___| |_
// | |	 \___ \___ \	| |_) / _ \/ __|/ _ \ __|
// | |___ ___) |__) | |	_ <	__/\__ \	__/ |_
//	\____|____/____/	|_| \_\___||___/\___|\__|
//

// html5doctor.com Reset Stylesheet
// v1.6.1
// Last Updated: 2010-09-17
// Author: Richard Clark - http://richclarkdesign.com
// Twitter: @rich_clark

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent

body
	line-height: 1

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section
	display: block

nav ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

a
	margin: 0
	padding: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent

/* change colours to suit your needs */
ins
	background-color: #ff9
	color: #000
	text-decoration: none

/* change colours to suit your needs */
mark
	background-color: #ff9
	color: #000
	font-style: italic
	font-weight: bold

del
	text-decoration:	line-through

abbr[title], dfn[title]
	border-bottom: 1px dotted
	cursor: help

table
	border-collapse: collapse
	border-spacing: 0

/* change border colour to suit your needs */
hr
	display: block
	height: 1px
	border: 0
	border-top: 1px solid #cccccc
	margin: 1em 0
	padding: 0

input, select
	vertical-align: middle

//	____			 _
// | __ )	___	__ _(_)_ __
// |	_ \ / _ \/ _` | | '_ \
// | |_) |	__/ (_| | | | | |
// |____/ \___|\__, |_|_| |_|
//			 |___/
//	_____							_	 _	 _
// |	___|__	_ __ _ __ ___	 __ _| |_| |_(_)_ __	 __ _
// | |_ / _ \| '__| '_ ` _ \ / _` | __| __| | '_ \ / _` |
// |	_| (_) | |	| | | | | | (_| | |_| |_| | | | | (_| |
// |_|	\___/|_|	|_| |_| |_|\__,_|\__|\__|_|_| |_|\__, |
//												 |___/

$gruvboxColorBackground: #282828
$gruvboxColorBackgroundOne: #3c3836
$gruvboxColorBackgroundTwo: #504945
$gruvboxColorForeground: #ebdbb2
$gruvboxColorRed: #cc241d
$gruvboxColorGreen: #98981a
$gruvboxColorYellow: #d79a21
$gruvboxColorBlue: #458588
$gruvboxColorPurple: #b16286
$gruvboxColorAqua: #689d6a
$gruvboxColorOrange: #d65d0e
$gruvboxColorRedHalf: #fb4934
$gruvboxColorGreenHalf: #b8bb26
$gruvboxColorYellowHalf: #fabd2f
$gruvboxColorBlueHalf: #83a598
$gruvboxColorPurpleHalf: #d3869b
$gruvboxColorAquaHalf: #8ec07c
$gruvboxColorOrangeHalf: #fe8019
$gruvboxColorGray: #a89984

/* The Navigation Bar */
nav
	margin: -30px 0 0 0
	padding: 0
	background-color: $gruvboxColorBackgroundOne
	overflow: hidden
	margin-bottom: 5px

	& .dropdown
		float: left
		overflow: hidden

		& .dropdown-content 
  			display: none
  			position: absolute
  			background-color: $gruvboxColorBackgroundTwo
  			min-width: 160px
  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  			z-index: 1

		&:hover .dropdown-content 
			display: block
			margin: 45px 0 0 0 

	& div.dropdown-content

		& a
		float: left
		color: black
		padding: 4px 6px
		text-decoration: none
		display: block
		text-align: center

	& a
		float: left
		color: $gruvboxColorForeground
		text-align: center
		padding: 14px 16px
		text-decoration: none
		font-size: 17px
		background-color: $gruvboxColorBackgroundOne
		position: sticky
		position: -webkit-sticky

		&:hover
			background-color: $gruvboxColorAqua
			color: $gruvboxColorBackgroundTwo

		&.active
			background-color: $gruvboxColorGreen

.rssfeed
	background-color: $gruvboxColorOrange
	color: $gruvboxColorForeground
	font-weight: bold

html
	padding-bottom: 100px
	color: $gruvboxColorBlue
	font-family: sans-serif
	background-color: $gruvboxColorBackground

body
	background-color: $gruvboxColorBackground
	max-width: 1050px
	margin-left: auto
	margin-right: auto
	margin-top: 30px
	overflow: none

	& h1
		color: $gruvboxColorYellow
		font-weight: normal
		padding-bottom: 10px

	& h2
		color: $gruvboxColorYellow
		font-weight: normal
		padding-bottom: 10px

	& p
		color: $gruvboxColorForeground

	& ul
		margin-left: 20px

/* The content above the blogposts */
#pageHeader
	color: $gruvboxColorForeground
	padding-top: 15px
	padding-bottom: 10px


/* Blog entry: */
div.entry
	padding: 10px
	border-radius: 0 10px 30px 0
	margin-bottom: 20px
	background-color: #2a2a35
	border-left: 10px solid $gruvboxColorBlue

	& h2
		color: $gruvboxColorYellow
		font-weight: normal
		padding-bottom: 10px

	& p
		color: $gruvboxColorForeground

	& em
		color: $gruvboxColorGray
		font-size: 80%

	& ul
		margin-left: 20px
/* End Blog Entry */

/* The two panels on the main page: */
.mainpanel
	float: left
	max-width: 700px
	padding: 4px
	padding-right: 30px

.mainpanel li
	line-height: 20px

.sidepanel
	float: left
	max-width: 300px
	background-color: #2a2a35
	padding: 2px
	border-radius: 0 10px 30px 0

.sidepanel a
	color: #85631b

.sidepanel a:hover
	color: #d89e23

.sidepanel ul li
	font-size: 20px
	margin: 0 0 15px 0

.sidepanel ul li ul li
	font-size: 18px
	margin: 0px
	list-style: none

a:hover img
	background: #fe8019

li img
	height: 1.25em

h1 img
	height: 1em

h3 img
	height: 1em

	/* The two panels on the main page: */

h2
	&.blogIndex
		color: $gruvboxColorYellow
		font-weight: bold
		padding-bottom: 10px

	& img
		height: 1em

ul
	&.blogIndex
		padding-left: 25px

	& li
		color: $gruvboxColorGray
		padding: 5px

a
	color: $gruvboxColorBlue
	text-decoration: none

a:hover
	color: $gruvboxColorBlueHalf

strong .footer
	font-weight: bold

code
	color: $gruvboxColorYellowHalf
	overflow-x: auto

pre
	background: $gruvboxColorBackgroundOne
	border: 1px solid $gruvboxColorBackgroundTwo
	border-radius: 4px
	padding: 5px
	display: block

.rss
	color: $gruvboxColorOrange
	font-weight: bold

#chart
	height: 150px
	padding-top: 10px
	background-color: $gruvboxColorBackgroundTwo
	border-top: 5px solid $gruvboxColorBackground
	color: $gruvboxColorBackground

	&Toggle
		margin-top: 5px solid $gruvboxColorBackground
		color: $gruvboxColorForeground
		font-size: 25px
		font-weight: bold
		background-color: $gruvboxColorBackgroundTwo
		border-radius: 10px
		width: 80px
		padding-bottom: 10px

		&:hover
			cursor: pointer

		&Text
			font-size: 10px

.c3-tooltip td
	color: $gruvboxColorBackground
	font-weight: bold

#attrib
	color: $gruvboxColorBackground

	& a
		color: $gruvboxColorBackground

/* Leather Working Page */
#leathervid
	margin-top: 5%
	margin-bottom: 15%

* 
	box-sizing: border-box

.slideshow-container 
	max-width: 1000px
	position: relative
	margin: auto

.mySlides 
	display: none

.prev, .next 
	cursor: pointer
	position: absolute
	top: 50%
	width: auto
	margin-top: -22px
	padding: 16px
	color: white
	font-weight: bold
	font-size: 18px
	transition: 0.6s ease
	border-radius: 0 3px 3px 0
	user-select: none

.next 
	right: 0
	border-radius: 3px 0 0 3px

.prev:hover, .next:hover 
	background-color: rgba(0,0,0,0.8)

.text 
	color: #f2f2f2
	font-size: 15px
	padding: 8px 12px
	position: absolute
	bottom: 8px
	width: 100%
	text-align: center

.numbertext 
	color: #f2f2f2
	font-size: 12px
	padding: 8px 12px
	position: absolute
	top: 0

.dot 
	cursor: pointer
	height: 15px
	width: 15px
	margin: 0 2px
	background-color: #bbb
	border-radius: 50%
	display: inline-block
	transition: background-color 0.6s ease

.active, .dot:hover 
	background-color: #717171

.fade 
  -webkit-animation-name: fade
  -webkit-animation-duration: 1.5s
  animation-name: fade
  animation-duration: 1.5s

@-webkit-keyframes fade 
  from {opacity: .4}
  to {opacity: 1}

@keyframes fade 
  from {opacity: .4}
  to {opacity: 1}
