html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* The Navigation Bar */
nav {
  margin: -30px 0 0 0;
  padding: 0;
  background-color: #3c3836;
  overflow: hidden;
  margin-bottom: 5px;
}

nav a {
  float: left;
  color: #ebdbb2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #689d6a;
  color: #504945;
}

nav a.active {
  background-color: #98981a;
}

html {
  padding-bottom: 100px;
  padding-bottom-color: #458588;
  font-family: sans-serif;
  font-family-background-color: #282828;
}

body {
  background-color: #282828;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: none;
}

/* The content above the blogposts */
#pageHeader {
  color: #ebdbb2;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* Blog entry: */
div.entry {
  padding: 10px;
  border-radius: 0 10px 30px 0;
  margin-bottom: 20px;
  background-color: #2a2a35;
  border-left: 10px solid #458588;
}

div.entry h2 {
  color: #d79a21;
  font-weight: normal;
  padding-bottom: 10px;
}

div.entry p {
  color: #ebdbb2;
}

div.entry em {
  color: #a89984;
  font-size: 80%;
}

/* End Blog Entry */
h2.blogIndex {
  color: #d79a21;
  font-weight: bold;
  padding-bottom: 10px;
}

ul.blogIndex {
  padding-left: 25px;
}

ul li {
  color: #a89984;
}

a {
  color: #458588;
  text-decoration: none;
}

a:hover {
  color: #83a598;
}

strong .footer {
  font-weight: bold;
}

code {
  color: #fabd2f;
  color-overflow-x: auto;
}

pre {
  background: #3c3836;
  border: 1px solid #504945;
  border-radius: 4px;
  padding: 5px;
  display: block;
}

.rss {
  color: #d65d0e;
  font-weight: bold;
}

#chart {
  height: 150px;
  padding-top: 10px;
  background-color: #a89984;
  border-top: 5px solid #282828;
}

#chartToggle {
  margin-top: 5px solid #282828;
  color: #ebdbb2;
  font-size: 25px;
  font-weight: bold;
  background-color: #504945;
  border-radius: 10px;
  width: 80px;
  padding-bottom: 10px;
}

#chartToggle:hover {
  cursor: pointer;
}

#chartToggleText {
  font-size: 10px;
}
/*# sourceMappingURL=index.css.map */